.container {
  padding: 40px 0 100px 0;
}

.title {
  font-size: 38px;
  margin-bottom: 100px;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.imgContainer {
  width: 240px;
  height: 240px;
  position: relative;
}

.image {
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input, .textarea {
  padding: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #bbb;
  border: 1px solid #bbb;
  font-size: 20px;
  border-radius: 5px;
}

.send {
  text-align: center;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateX(0px) scale(1.03);
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding-bottom: 100px;
  }

  .title {
    font-size: 60px;
  }
  .content {
    flex-direction: row;
  }

  .imgContainer {
    flex: 1;
    width: 400px;
    height: 400px;
  }

  .input, .textarea {
    padding: 20px;
  }

  .send {
    text-align: left;
  }
}