.layout {
  padding-top: 40px;
  padding-bottom: 100px;
}

.mainTitle {
  font-size: 40px;
}

.selectTitle {
  font-size: 20px;
  margin: 10px 0 30px 0;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.item {
  border: 3px solid #bbb;
  border-radius: 5px;
  width: 100%;
  height: 400px;
  position: relative;
  background-size: cover !important;
}

.item:hover {
  color: #53c28b;
  border-color: #53c28b;
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .layout {
    padding-bottom: 50px;
  }

  .items {
    flex-direction: row;
    gap: 20px;
  }

  .item {
    width: 100%;
    height: 300px;
  }

  .selectTitle {
    margin: 10px 0 40px 0;
    font-size: 30px;
  }

  .mainTitle {
    font-size: 50px;
  }

  .title {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1024px) {
  .mainTitle {
    font-size: 80px;
  }

  .items {
    gap: 50px;
  }

  .item {
    width: 300px;
    height: 400px;
  }

  .selectTitle {
    margin: 60px 0 20px 0;
    font-size: 40px;
  }
}